@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');
:root {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.container {
    margin: 0 auto;
    width: 85%;
    display: flex;
    align-items: center;
}

.container1 {
    margin: 0 auto;
    width: 85%;
    display: flex;
    justify-content: space-around;
}

.banner {
    background-image: url("../img/24x11-1600x733-daily-habits-nutrition-kit\ 1\ 1\ \(1\).png");
    background-size: cover;
    height: 600px;
    color: white;
}

.banner__content {
    padding-top: 100px;
    animation: animationbanner 2s linear 1;
}

.banner__content-title {
    font-weight: 900;
    font-size: 2.4rem;
    margin-bottom: 30px;
    line-height: 55px;
}

.banner__content-subtitle {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.banner__center {
    padding-top: 135px;
    padding-bottom: 135px;
}

.content {
    background: #F0E5FF;
}

.banner__content-image :nth-child(2) {
    position: relative;
    left: -10%;
    -webkit-animation: banner__content-image1 2s linear infinite;
    animation: banner__content-image1 2s linear infinite;
}

.banner__content-image :nth-child(1) {
    -webkit-animation: banner__content-image2 2s linear infinite;
    animation: banner__content-image2 2s linear infinite;
}

.banner__center-subtitle {
    font-size: 20px;
    text-transform: uppercase;
    color: #946FD3;
    font-weight: bold;
}

.banner__center-title {
    font-size: 38px;
    color: #354657;
    font-weight: bold;
}

.banner__center-button {
    width: 206px;
    padding: 20px;
    background-color: #946FD3;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}

.text {
    margin-left: 60px;
}
.article{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #354657;
    padding-bottom: 30px;
}

.card {
    width: 30%;
    justify-content: space-around;

}
.card img{
    width: 100%;
}
.card:hover{
    background-color: #946FD3;
    -webkit-animation: card 2s linear infinite;
    animation: card 2s linear infinite;
}
.card:hover .card__title{
    color: white;
}
.card:hover .card__article{
    color: white;
}
.card:hover .card__btn{
    color: white;
    border-color: white;
    background-color: #946FD3;
}
.card__title {
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #354657;
}

.card__article {
    padding: 15px;
    font-size: 16px;
    color: #354657;
}
.card__btn{
    width: 250px;
    padding: 15px;
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 30px;
    color: #946FD3;
    border: 2px solid #946FD3;
    background-color: white;
    border-radius: 30px;
    font-weight: bold;
    text-align: center;
}

@keyframes animationbanner {
    from {
        transform: translateX(-100vw);
    }
    to {
        transform: translateX(0) rotate(360deg)
    }
}

@media screen and (max-width: 800px) {
    .banner {
        display: none;
    }
}

@keyframes banner__content-image1 {
    from {
        transform: rotateZ(0)
    }
    to {
        transform: rotateZ(360deg)
    }
}

@-webkit-keyframes banner__content-image1 {
    from {
        -webkit-transform: rotateZ(0)
    }
    to {
        -webkit-transform: rotateZ(360deg)
    }
}

@keyframes banner__content-image2 {
    from {
        transform: rotateZ(0)
    }
    to {
        transform: rotateZ(360deg)
    }
}

@-webkit-keyframes banner__content-image2 {
    from {
        -webkit-transform: rotateZ(0)
    }
    to {
        -webkit-transform: rotateZ(360deg)
    }
}
@keyframes card {
    from {
        transform: rotateY(0)
    }
    to {
        transform: rotateY(180deg)
    }
}

@-webkit-keyframes card {
    from {
        -webkit-transform: rotateY(0)
    }
    to {
        -webkit-transform: rotateY(180deg)
    }
}